:root {
    --main-color: #1e202b;
    --second-color: white;
    --third-color: #262936;
    --fourth-color: rgb(191, 193, 200);
    --light-blue-color: #009ad8;
    --transition: all 0.3s ease;
}

.fs-14 {
    font-size: 14px;
}

.main-bg {
    background-color: var(--main-color);
}

.font-color {
    color: var(--fourth-color);
}

.first-pd {
    padding: 50px 20px 10px;
    ;
}

.second-pd {
    padding: 30px 20px;
}

body {
    font-family: "Roboto", "Open Sans", sans-serif;
}

/* =====>  FIRST PAGE */
/* nav bar */
.navbar {
    padding: 50px 0;
}

.navbar-brand img {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 300;
}

.bar {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
    color: var(--second-color);
    transition: var(--transition);
}

.bar:hover {
    border-color: var(--light-blue-color);
    color: var(--light-blue-color);
}

.navbar-toggler {
    border: 0px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.small-title {
    font-size: 10px;
    color: #bfc1c8;
}

.left-list a {
    color: var(--second-color);
}

.navbar-nav {
    border-radius: 10px;
}

.navbar-nav .nav-link {
    padding: 5px 25px;
    border-radius: 30px;
    font-size: 14px;
}

.navbar-nav .nav-link:hover {
    color: var(--light-blue-color);
    border: 2px solid var(--light-blue-color);
    transition: var(--transition);
}

.navbar-nav .nav-link.active {
    color: var(--light-blue-color);
    border: 2px solid var(--light-blue-color);
    padding: 5px 25px;

}

/* search bar  */
.search-bar {
    padding: 70px 0;
    background-image: url(../image/banner.png);
    background-position: top;
    background-size: cover;

}

.search-form {
    margin-bottom: 50px;
}

.search-button {
    padding: 0 40px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    text-align: center;
}

.search-form .search-form-btn {
    color: var(--second-color);
    padding: 20px 50px 20px 20px;
}

.form-control:focus {
    box-shadow: none;
    background-color: var(--main-color);
    color: var(--second-color);
}

.form-control {
    border: 0;
}

.form-control::placeholder {
    color: var(--fourth-color);
}

/*  weather part  */
.weather-row {
    margin: -70px 0 70px;
}

.inner {

    background-color: #323544;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-weight: 400;
}

#forecastIcon {
    width: 90px;
}

.numberOfDegree {
    font-size: 60px;
}

#desc {
    margin: 20px 0;
}

/*  footer section */
footer {
    background-color: var(--third-color);
    padding: 50px 0;
}

.Subscribe-section {
    margin-bottom: 30px;
}

.subInput {
    color: var(--second-color);
    width: 100%;
    padding: 20px 100px 20px 20px;
}

.subInput:focus-visible {
    outline: 0;
}

.subBtn {
    padding: 10px 20px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

.social-media ul {
    justify-content: end;
}

.social-media ul li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.social-media ul li:hover {
    background-color: var(--light-blue-color);
    cursor: pointer;
}

.social-media ul li:hover a {
    color: var(--second-color);
}


/*  contact us page ======> SECOND PAGE */
/*  first bar  */
.convert-bar {
    background-color: var(--third-color);
    padding: 20px 30px;
    border-radius: 35px;
    color: var(--second-color);
    font-size: 13px;
    font-weight: 300;
}

.convert-bar a {
    text-decoration: none;
}

.convert-bar a:hover {
    text-decoration: underline;
}

/*  content section  */
.content {
    padding: 70px 0;
}

.contact-detalis {
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--third-color);
}

.contact-info {
    padding: 20px;
}

.contact-info i {
    color: var(--light-blue-color);
}

.left-section {
    margin-left: 80px;
}

h2 {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 2px solid #393c48;
    background-color: transparent;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 30px;
}

.submit-input {
    text-align: right;
}

.submit-input>input {
    padding: 10px;
    color: var(--second-color);
    background-color: #009ad8;
    border: 0;
    width: 25%;
}

/*    Response     */
@media (max-width: 1200px) {
    iframe {
        aspect-ratio: 1/1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 992px) {
    iframe {
        aspect-ratio: 2/1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .contact-title {
        text-align: center;
    }

    .navbar-collapse .navbar-nav {
        background-color: rgb(38, 41, 54);
        text-align: center;
    }

    .navbar-nav .nav-link.active {
        border: 0;
    }

    .navbar-nav .nav-link.active:hover {
        border: 2px solid var(--light-blue-color);
        transition: color 0.3s ease;
    }

    .left-section {

        margin: 40px 0 0 0;
    }

    .social-media ul {
        justify-content: center;

    }

    footer .row {
        gap: 20px;
    }

    footer .container {
        gap: 35px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .search-form {
        margin-bottom: 50px;
    }

    .second-pd {
        padding: 40px 30px 50px;
    }

    .first-pd {
        padding: 50px 20px;
    }

}

@media (max-width: 576px) {
    .navbar-collapse .navbar-nav {
        margin-top: 20px;
    }
}